components/operations-center/org.wso2.carbon.operationscenter.stub/src/main/resources/OperationsCenterAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.operationscenter.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2324="http://bean.operationscenter.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.operationscenter.carbon.wso2.org">
    <wsdl:documentation>OperationsCenterAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2325="http://bean.operationscenter.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.operationscenter.carbon.wso2.org">
            <xs:import namespace="http://bean.operationscenter.carbon.wso2.org/xsd"/>
            <xs:element name="OperationsCenterAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="OperationsCenterAdminException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="createEnvironment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="environmentName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="environmentDescription" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEnvironmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addServerCommand">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actionId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEnvironments">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEnvironmentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2324:Environment"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllServers">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllServersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2324:Server"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverMetaId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="environmentId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverNickname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createServerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.operationscenter.carbon.wso2.org/xsd">
            <xs:complexType name="Environment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Server">
                <xs:sequence>
                    <xs:element minOccurs="0" name="environment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="server" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllServersRequest">
        <wsdl:part name="parameters" element="ns:getAllServers"/>
    </wsdl:message>
    <wsdl:message name="getAllServersResponse">
        <wsdl:part name="parameters" element="ns:getAllServersResponse"/>
    </wsdl:message>
    <wsdl:message name="OperationsCenterAdminException">
        <wsdl:part name="parameters" element="ns:OperationsCenterAdminException"/>
    </wsdl:message>
    <wsdl:message name="addServerCommandRequest">
        <wsdl:part name="parameters" element="ns:addServerCommand"/>
    </wsdl:message>
    <wsdl:message name="getAllEnvironmentsRequest">
        <wsdl:part name="parameters" element="ns:getAllEnvironments"/>
    </wsdl:message>
    <wsdl:message name="getAllEnvironmentsResponse">
        <wsdl:part name="parameters" element="ns:getAllEnvironmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="createServerRequest">
        <wsdl:part name="parameters" element="ns:createServer"/>
    </wsdl:message>
    <wsdl:message name="createServerResponse">
        <wsdl:part name="parameters" element="ns:createServerResponse"/>
    </wsdl:message>
    <wsdl:message name="createEnvironmentRequest">
        <wsdl:part name="parameters" element="ns:createEnvironment"/>
    </wsdl:message>
    <wsdl:message name="createEnvironmentResponse">
        <wsdl:part name="parameters" element="ns:createEnvironmentResponse"/>
    </wsdl:message>
    <wsdl:portType name="OperationsCenterAdminPortType">
        <wsdl:operation name="getAllServers">
            <wsdl:input message="ns:getAllServersRequest" wsaw:Action="urn:getAllServers"/>
            <wsdl:output message="ns:getAllServersResponse" wsaw:Action="urn:getAllServersResponse"/>
            <wsdl:fault message="ns:OperationsCenterAdminException" name="OperationsCenterAdminException" wsaw:Action="urn:getAllServersOperationsCenterAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="addServerCommand">
            <wsdl:input message="ns:addServerCommandRequest" wsaw:Action="urn:addServerCommand"/>
            <wsdl:fault message="ns:OperationsCenterAdminException" name="OperationsCenterAdminException" wsaw:Action="urn:addServerCommandOperationsCenterAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEnvironments">
            <wsdl:input message="ns:getAllEnvironmentsRequest" wsaw:Action="urn:getAllEnvironments"/>
            <wsdl:output message="ns:getAllEnvironmentsResponse" wsaw:Action="urn:getAllEnvironmentsResponse"/>
            <wsdl:fault message="ns:OperationsCenterAdminException" name="OperationsCenterAdminException" wsaw:Action="urn:getAllEnvironmentsOperationsCenterAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="createServer">
            <wsdl:input message="ns:createServerRequest" wsaw:Action="urn:createServer"/>
            <wsdl:output message="ns:createServerResponse" wsaw:Action="urn:createServerResponse"/>
            <wsdl:fault message="ns:OperationsCenterAdminException" name="OperationsCenterAdminException" wsaw:Action="urn:createServerOperationsCenterAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="createEnvironment">
            <wsdl:input message="ns:createEnvironmentRequest" wsaw:Action="urn:createEnvironment"/>
            <wsdl:output message="ns:createEnvironmentResponse" wsaw:Action="urn:createEnvironmentResponse"/>
            <wsdl:fault message="ns:OperationsCenterAdminException" name="OperationsCenterAdminException" wsaw:Action="urn:createEnvironmentOperationsCenterAdminException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OperationsCenterAdminSoap11Binding" type="ns:OperationsCenterAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllServers">
            <soap:operation soapAction="urn:getAllServers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addServerCommand">
            <soap:operation soapAction="urn:addServerCommand" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllEnvironments">
            <soap:operation soapAction="urn:getAllEnvironments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createServer">
            <soap:operation soapAction="urn:createServer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEnvironment">
            <soap:operation soapAction="urn:createEnvironment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OperationsCenterAdminSoap12Binding" type="ns:OperationsCenterAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllServers">
            <soap12:operation soapAction="urn:getAllServers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap12:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addServerCommand">
            <soap12:operation soapAction="urn:addServerCommand" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap12:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllEnvironments">
            <soap12:operation soapAction="urn:getAllEnvironments" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap12:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createServer">
            <soap12:operation soapAction="urn:createServer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap12:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEnvironment">
            <soap12:operation soapAction="urn:createEnvironment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OperationsCenterAdminException">
                <soap12:fault use="literal" name="OperationsCenterAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OperationsCenterAdminHttpBinding" type="ns:OperationsCenterAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAllServers">
            <http:operation location="getAllServers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addServerCommand">
            <http:operation location="addServerCommand"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllEnvironments">
            <http:operation location="getAllEnvironments"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createServer">
            <http:operation location="createServer"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEnvironment">
            <http:operation location="createEnvironment"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OperationsCenterAdmin">
        <wsdl:port name="OperationsCenterAdminHttpsSoap11Endpoint" binding="ns:OperationsCenterAdminSoap11Binding">
            <soap:address location="https://jayanga-Latitude-E6540:8243/services/OperationsCenterAdmin.OperationsCenterAdminHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="OperationsCenterAdminHttpsSoap12Endpoint" binding="ns:OperationsCenterAdminSoap12Binding">
            <soap12:address location="https://jayanga-Latitude-E6540:8243/services/OperationsCenterAdmin.OperationsCenterAdminHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="OperationsCenterAdminHttpsEndpoint" binding="ns:OperationsCenterAdminHttpBinding">
            <http:address location="https://jayanga-Latitude-E6540:8243/services/OperationsCenterAdmin.OperationsCenterAdminHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>